<%- include('partials/header') -%>

<div class="">
    <h1>Hello Create mode on</h1>
</div>
<div class="">
    <form action="/create" method="post">
        <label for="">fname</label>
        <input type="text" name="fname" id="">
        <label for="">lname</label>
        <input type="text" name="lname" id="">
        <button>Create</button>
    </form>
</div>
<div class="">
    <!-- <% array.forEach(element => { %>
     
    <% }) %> -->
</div>
<%- include('partials/footer') -%>